$dark-overlay: rgba(0,0,0,0.2);

.logo{
    font-family: 'Syncopate', sans-serif;
}

.navbar{
    opacity:0.9;
    border-bottom: #261602 2px solid;
}

#home-section{
    background:url('../img/map1.jpeg') no-repeat;
    background-size:cover;
    background-attachment:fixed;
    min-height:450px;
}

.dark-overlay{
    background-color:$dark-overlay;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    min-height:450px;
}
.sentence{
    font-family: 'Syncopate', sans-serif;
    color: white;
    font-size: 2rem;
    text-shadow: 2px 5px 4px rgba(44, 41, 32, 0.7);
    opacity: 0.8;
 }

 #welcome{
    border-bottom: #2d1e0b 2px solid;
    border-top: #2d1e0b 2px solid;
    min-height:160px;
 }
 
 #currency-section{
    border-bottom: #2d1e0b 2px solid;
    border-top: #2d1e0b 2px solid;
    min-height:660px;
    background:url('../img/four.jpg') no-repeat;
    background-size:cover;
    background-attachment:fixed;
 }
