$dark-overlay: rgba(0,0,0,0.4);
$font-family: Kaushan Script;

.logo{
  font-family: $font-family, cursive;
}

.navbar{
  opacity:0.7;
  border-bottom: white 2px solid;
}

#home-section{
  background:url('../img/flower.jpeg') no-repeat;
  background-size:cover;
  background-attachment:fixed;
  min-height:600px;

.dark-overlay{
    background-color:$dark-overlay;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    min-height:600px;
  }

  .home-inner{
    padding-top:150px;
  }


  .boton{
    opacity:0.7;
  }
  .sentence{
  font-family: $font-family;
  color: white;
  font-size: 2.5rem;
  text-shadow: 2px 5px 4px rgba(44, 41, 32, 0.7);
  opacity: 0.9;
  }
}

#newsletter{
  padding-top:40px;
  padding-bottom: 40px;
  border-top: #7c3f62 2px solid;
  border-bottom: #7c3f62 2px solid;
}

#line{
  opacity: 0.8;
  margin: 0;
  padding: 0;
}

#about{
  opacity: 0.9;
}

.carousel-item{
  height: 650px;
}

.carousel-image-1{
  background: url('../img/one.jpg');
  background-size: cover;
}

.carousel-image-2{
  background: url('../img/two.jpg');
  background-size: cover;
}
.carousel-image-3{
  background: url('../img/three.jpg');
  background-size: cover;
}
.carousel-image-4{
  background: url('../img/four.jpeg');
  background-size: cover;
}
.carousel-image-5{
  background: url('../img/five.jpeg');
  background-size: cover;
}
.carousel-image-6{
  background: url('../img/six.jpeg');
  background-size: cover;
}
.position-one{
  margin-bottom: 280px;
}

.position-two{
  margin-bottom: 280px;
}

.position-three{
  margin-bottom: 120px;
}

.position-four{
  margin-bottom: 300px;
}

.position-five{
  margin-bottom: 280px;
}
.position-six{
  margin-bottom: 280px;
}

#showcase{
  border-top: white 2px solid;
  border-bottom: white 2px solid;
}

#contact{
  border-top: #7c3f62 2px solid;
  border-bottom: white 2px solid;
}

.footer{
  opacity: 0.9;
  border-top: #e9ecef 2px solid;
}
